img.icon {
    width: 35px;
    background:black;
}

input.icon {
    flex: 0 0 calc(33% - 32px);
}

input.condition {
    flex: 0 0 calc(33% - 32px);
}

.remove-row {
    flex: 0 0 24px;
}

.condition-map-list {
    list-style:none;
}

