img.icon {
    width: 50px;
    background:black;
}

.condition-map-list {
    list-style:none;
}

.flexcol.condition-lab {
    margin: 3px 0px;
}

.flexcol.condition-lab.text-entry {
    flex: 7;
}

.flexrow.condition-lab {
    justify-content: space-around;
}
