<form autocomplete="off" onsubmit="event.preventDefault();">
    <h2>Condition Status Icon Assignment</h2>
    <ol class="condition-map-list" style="list-style:none;">
        <span>
            <h3>Condition</h3>  <h3>Status Icon</h3>
        </span>
        {{#each conditionmap as |icon condition|}}
        <li class="condition-map-item">
            <div class="formgroup">
                <img src="{{icon}}" style="width:10%;" />
                <label>{{condition}}</label>
                {{filePicker target="icon" type="image"}}
                <input type="text" name="icon" title="Status Icon" value="{{icon}}" placeholder="/icons/example.svg">
            </div>
        </li>
        {{/each}}
    </ol>

    <button type="submit" name="submit">
        <i class="far fa-save"></i> Save Mapping
    </button>

</form>