<form autocomplete="off" onsubmit="event.preventDefault();">
    <h2>Condition Lab</h2>
    <ol class="condition-map-list" style="list-style:none;">
        <span>
            <h3>Condition</h3>  <h3>Status Icon</h3>
        </span>
        {{#each conditionmap as |icon condition|}}
        <li class="condition-map-item">
            <div class="formgroup">
                <img src="{{icon}}" style="width:10%;background:black" />
                <input type="text" name="condition" title="Condition" value="{{condition}}" placeholder="Blinded">
                {{filePicker target="icon" type="image"}}
                <input type="text" name="icon" title="Status Icon" value="{{icon}}" placeholder="/icons/example.svg">
            </div>
        </li>
        {{/each}}
    </ol>

    <button type="submit" name="submit" title="Save mapping form values">
        <i class="far fa-save"></i> Save Mapping
    </button>

    <button type="reset" name="reset" title="Reset mapping form values">
        <i class="fas fa-undo"></i> Reset Mapping
    </button>

    <button name="restore" title="Restore mappings back to system defaults">
        <i class="fas fa-rewind"></i> Restore Defaults
    </button>

</form>