<div class="enhanced-conditions header">
    <h3>{{localize "TEMPLATES.EnhancedConditions.ChatCardTitle"}}</h3>
</div>
<div class="enhanced-conditions content" data-token-id="{{tokenId}}">
    <p>{{alias}} is:</p>
    <ul class="chat-message condition-list">
        {{#each conditions as |condition key|}}
        <li class="flexrow" data-condition-name="{{condition.name}}">
            <div class="icon" style="flex: 0 0 24px; margin: 0px 6px 0px 0px">
                <img src="{{condition.icon}}" class="icon chat-message" title="{{condition.name}}">
            </div>
            {{#if hasReference}}
            <div class="condition-reference" style="flex: 2; margin: 3px 0px 0px 0px" height="20px">
                {{condition.referenceId}}{ {{~condition.name~}} }
            </div>
            {{else}}
            <div class="condition-name" style="flex: 2; margin: 3px 0px 0px 0px" height="20px">
                {{condition.name}}
            </div>
            {{/if}}
            <div class="remove-row" style="flex: 0 0 20px">
                <a name="remove-row" title="Remove Condition"><i class="fas fa-times"></i></a>
            </div>
        </li>
        {{/each}}
    </ul>
</div>