<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>Game System</label>
        <select name="system" class="system" title="Game system to use as a template for mapping">
            {{#select system}}
            {{#each systems as |label name|}}
                <option value="{{name}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    {{log conditionMap}}
    <ol class="condition-map-list">
        {{#each conditionMap as |condition key|}}
        {{log condition}}
        <li class="condition-map-item">
            <div class="flexrow condition-lab">

                <div class="flexcol condition-lab icon">
                    <img name="icon-{{@index}}" src="{{condition.icon}}" title="Status Icon" class="icon" />
                </div>

                <div class="flexcol condition-lab text-entry">
                    <div class="flexrow condition-lab text-entry">
                        <div class="flexcol condition-lab text-entry condition">
                            <input type="text" name="condition-{{@index}}" title="Condition" value="{{condition.name}}" class="condition" placeholder="Blinded" data-dtype="String">
                        </div>
                        <div class="flexcol condition-lab text-entry journal">
                            <span>
                                <i class="fas fa-book-open"></i>
                                <select name="journal-{{@index}}" class="journal" title="Condition Journal Entry" data-dtype="String">
                                    {{#select condition.journalId}}
                                    <option value=" "></option>
                                    {{#each ../entries}}
                                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                                    {{/each}}
                                    {{/select}}
                            </select>
                            </span>
                            
                        </div>
                    </div>
                    <div class="flexrow condition-lab text-entry icon">
                        <input type="text" name="icon-{{@index}}" title="Status Icon Path" class="icon-path" value="{{condition.icon}}" placeholder="/icons/example.svg" data-dtype="String">
                        <button type="button" name="file-picker-{{@index}}" class="file-picker" data-type="image" data-target="icon-{{@index}}" title="Browse Files" tabindex="-1">
                            <i class="fas fa-file-import fa-fw"></i>
                        </button>
                    </div>
                </div>

                <div class="flexcol condition-lab trash">
                    <button type="button" name="remove-row-{{@index}}" class="remove-row" title="Remove the condition mapping row">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>

            </div>    
        </li>
        {{/each}}
        <button type="button" class="add-row" name="add-row" title="Add condition mapping row">
            <i class="fas fa-plus"></i> Add Row
        </button>
    </ol>
    <footer class="flexrow">
        <button type="submit" name="submit" title="Save mapping form values">
            <i class="far fa-save"></i> Save Mapping
        </button>
    
        <button type="reset" name="reset" title="Reset mapping form values">
            <i class="fas fa-undo"></i> Reset Mapping
        </button>
    
        <button type="button" name="restore" class="restore-defaults" title="Restore mappings back to system defaults">
            <i class="fas fa-history"></i> Restore Defaults
        </button>
    </footer>
    

</form>