<form autocomplete="off" onsubmit="event.preventDefault();">
    <h2><i class="fas fa-flask"></i> Condition Lab</h2>
    <div class="form-group">
        <label>Mapping Type</label>
        <select name="map-type" class="map-type" title="">
            {{#select mapType}}
            {{#each mapTypeChoices as |label name|}}
                <option value="{{name}}">{{label}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <hr />
    <ol class="condition-map-list">
        {{#each conditionMap as |condition key|}}
        <li class="condition-map-item">
            <div class="flexrow condition-lab">
                <span class="condition-lab grabber">
                    <i class="fas fa-bars"></i>
                </span>
                <div class="flexcol condition-lab icon">
                    <img name="icon-{{@index}}" src="{{condition.icon}}" title="Status Icon" class="icon" />
                </div>

                <div class="flexcol condition-lab text-entry">
                    <div class="flexrow condition-lab text-entry">
                        <div class="flexcol condition-lab text-entry condition">
                            <input type="text" name="condition-{{@index}}" title="Condition" value="{{condition.name}}" class="condition" placeholder="Icon Path" data-dtype="String" {{#if ../isDefault}}disabled{{/if}}>
                        </div>
                        <div class="flexrow condition-lab text-entry journal">
                                <div class="journal-icon">
                                    <a class="journal" title="Create a new journal entry">
                                        <i class="fas fa-book-open"></i>
                                    </a>
                                </div>
                                <select name="journal-{{@index}}" class="journal" title="Condition Journal Entry" data-dtype="String" {{#if ../isDefault}}disabled{{/if}}>
                                    {{#select condition.journalEntry}}
                                    <option value="">No Journal Entry mapped</option>
                                    {{#each ../entries}}
                                        <option value="{{this.[0]}}">{{this.[1]}}</option>
                                    {{/each}}
                                    {{/select}}
                            </select>
                        </div>
                    </div>
                    <div class="flexrow condition-lab text-entry">
                        <div class="flexrow condition-lab text-entry path">
                            <input type="text" name="icon-{{@index}}" title="Status Icon Path" class="icon-path" value="{{condition.icon}}" placeholder="/icons/example.svg" data-dtype="String" {{#if ../isDefault}}disabled{{/if}}>
                            <button type="button" name="file-picker-{{@index}}" class="file-picker" data-type="image" data-target="icon-{{@index}}" title="Browse Files" tabindex="-1" {{#if ../isDefault}}hidden{{/if}}>
                                <i class="fas fa-file-import fa-fw"></i>
                            </button>
                        </div>
                        <div class="flexrow condition-lab text-entry trigger">
                            <div class="trigger-icon">
                                <a class="trigger" title="Create/Edit Trigger"><i class="fas fa-angle-double-right"></i></a>
                            </div>
                            <select name="trigger-{{@index}}" title="trigger" {{#if ../isDefault}}disabled{{/if}}>
                                {{#select condition.trigger}}
                                <option value="">No Trigger Set</option>
                                {{#each ../triggers}}
                                    <option value="{{this.[0]}}">{{this.[1]}}</option>
                                {{/each}}
                                {{/select}}
                            </select>                            
                        </div>
                    </div>                    
                </div>
                {{#if ../isDefault}}
                {{else}}
                <div class="flexcol condition-lab trash">
                    <a name="remove-row-{{@index}}" class="remove-row" title="Delete Row">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                {{/if}}
            </div>    
        </li>
        {{/each}}
        <div class="flexrow condition-lab add-row">
            <a name="add-row" title="Add Row">
                <i class="fas fa-plus"></i> {{#if isDefault}}Switch to "System - Custom" and Add Row{{else}}Add Row{{/if}}
            </a>
        </div>
    </ol>
    <div class="flexrow" width="50%">
        <button type="button" name="import" title="Import a Condition Mapping file">
            <i class="fas fa-file-import"></i> Import
        </button>
        <button type="button" name="export" title="Export your current Condition Mapping to a file">
            <i class="fas fa-file-export"></i> Export
        </button>
    </div>
    <footer class="flexrow">
        <button type="submit" name="submit" title="Save mapping form values">
            <i class="far fa-save"></i> Save Mapping
        </button>
    
        <button type="reset" name="reset" title="Reset mapping form values">
            <i class="fas fa-undo"></i> Reset Mapping
        </button>
    
        <button type="button" name="restore" class="restore-defaults" title="Restore mappings back to system defaults">
            <i class="fas fa-history"></i> Restore Defaults
        </button>
    </footer>
    

</form>