{{{localize "ENHANCED_CONDITIONS.PreventativeSaveReminder.Content"}}}
<div class="form-group">
    <input type="checkbox" name="suppress">
    <label>{{localize "ENHANCED_CONDITIONS.PreventativeSaveReminder.Suppress"}}</label>
</div>