<div id="requested-roll">
    <div id="player-container">
        {{#each characters}}
            <img name="{{this}}" id="{{this.id}}" class="player-portrait" src="{{this.img}}">
        {{/each}}
    </div>
    {{#each characters}}
    <div class="roll-content" id="{{this.id}}C">
        {{#each ../attributes}}
        <div class="roll-request" id={{../this.id}}>
            <button class="clickable-roll" id="attribute-{{this}}" type="button">Attribute : {{request-roll-ability this}} check{{../../advantage}}</button>
        </div>
        {{/each}}
        {{#each ../saves}}
        <div class="roll-request" id={{../this.id}}>
            <button class="clickable-roll" id="save-{{this}}" type="button">Save : {{request-roll-ability this}} save{{../../advantage}}</button>
        </div>
        {{/each}}
        {{#each ../skills}}
        <div class="roll-request" id={{../this.id}}>
            <button class="clickable-roll" id="skill-{{this}}" type="button" >Skill : {{request-roll-skill this}} check{{../../advantage}}</button>
        </div>
        {{/each}}
    </div>
    {{/each}}

</div>