<div class="roll-init content">
  <div class="roll-init die">
    <figure class="face face-1"></figure>
    <figure class="face face-2"></figure>
    <figure class="face face-3"></figure>
    <figure class="face face-4"></figure>
    <figure class="face face-5"></figure>
    <figure class="face face-6"></figure>
    <figure class="face face-7"></figure>
    <figure class="face face-8"></figure>
    <figure class="face face-9"></figure>
    <figure class="face face-10"></figure>
    <figure class="face face-11"></figure>
    <figure class="face face-12"></figure>
    <figure class="face face-13"></figure>
    <figure class="face face-14"></figure>
    <figure class="face face-15"></figure>
    <figure class="face face-16"></figure>
    <figure class="face face-17"></figure>
    <figure class="face face-18"></figure>
    <figure class="face face-19"></figure>
    <figure class="face face-20"></figure>
  </div>
  <img src="modules/combat-utility-belt/images/top.png" alt="roll" class="roll-init top-ribbon" />
  <!-- svg -->
  <img src="modules/combat-utility-belt/images/roll-text.png" class="roll-init roll" />
  <img src="modules/combat-utility-belt/images/bottom.png" alt="initiative" class="roll-init bottom-ribbon" />
  <!-- svg -->
  <img src="modules/combat-utility-belt/images/initiative-text.png" class="roll-init initiative" />
  <img src="modules/combat-utility-belt/images/sword1.png" alt="" class="roll-init weapon sword1" />
  <img src="modules/combat-utility-belt/images/sword2.png" alt="" class="roll-init weapon sword2" />
  <img src="modules/combat-utility-belt/images/arrows.png" alt="" class="roll-init weapon arrows" />
  <img src="modules/combat-utility-belt/images/justbow.png" alt="" class="roll-init weapon justbow" />
  <img src="modules/combat-utility-belt/images/axe.png" alt="" class="roll-init weapon axe" />
  <img src="modules/combat-utility-belt/images/staff.png" alt="" class="roll-init weapon staff" />
  <img src="modules/combat-utility-belt/images/hammer.png" alt="" class="roll-init weapon hammer" />
</div>
