<form onsubmit="event.preventDefault()" autocomplete="off">
    <h2><i class="fas fa-angle-double-right"></i><i class="fas fa-angle-double-left"></i> Triggler</h2>
    <div class="form-group triggler">
        <label>Existing Triggers</label>
        <select name="triggers">
            {{#select id}}
            <option value="">--Existing Triggers--</option>
            {{#each triggers as |trigger key|}}
            <option value="{{trigger.id}}">{{trigger.text}}</option>
            {{/each}}
            {{/select}}
        </select>
        {{#if triggerSelected}}
        <a class="delete" title="Delete Trigger"><i class="fas fa-trash"></i></a>
        {{/if}}
    </div>
    <div class="flexrow">
        <span>Category</span>
        <span>Attribute</span>
        <span>Property 1</span>
        <span>Operator</span>
        <span>Value</span>
        <span>Property 2</span>
    </div>
    <div class="flexrow">
        <select name="category">
            {{#select category}}
            <option value="">--Category--</option>
            {{#each categories}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="attribute">
            {{#select attribute}}
            <option value="">--Attribute--</option>
            {{#each attributes}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="property1">
            {{#select property1}}
            <option value="">--Property 1--</option>
            {{#each properties}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
        <select name="operator">
            {{#select operator}}
            <option value="">--Operator--</option>
            {{#each operators as |name key|}}
                <option value="{{key}}">{{name}}</option>
            {{/each}}
            {{/select}}
        </select>
        <input type="text" name="value" class="value" placeholder="--Value--" value="{{value}}"/>
        <select name="property2">
            {{#select property2}}
            <option value="">--Property 2--</option>
            {{#each properties}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
            {{/select}}
        </select>
    </div>
    <div class="flexrow">
        <div class="form-group">
            <input type="checkbox" name="pcOnly" {{checked pcOnly}}>
            <label>PCs Only</label>
        </div>
    </div>
    <footer class="flexrow">
        <button type="submit" name="save"><i class="fas fa-save"></i> Save</button>
        <button type="button" name="cancel"><i class="fas fa-times"></i> Cancel</button>
    </footer>
</form>