<button id="triggler-form" data-action="triggler" title="{{localize "combat-utility-belt.TRIGGLER.ButtonTitle"}}">
    {{> "modules/combat-utility-belt/templates/partials/triggler-icon.hbs"}} Triggler
</button>